<section id="aboutUs" class="about section">
  <div class="container">
    <h2 class="section-title">
      About <span class="section-title-highlighted">Us</span>
    </h2>
    <p class="section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="content-container">
      <ul class="list">
        <li class="item">
          <h3 class="item-title">01</h3>
          <p class="item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="item">
          <h3 class="item-title">02</h3>
          <p class="item-text">Wide range of course levels and options</p>
        </li>
        <li class="item">
          <h3 class="item-title">03</h3>
          <p class="item-text">Multicultural learning environment</p>
        </li>
        <li class="item">
          <h3 class="item-title">04</h3>
          <p class="item-text">Comprehensive language support services</p>
        </li>
      </ul>

      <div class="image-container">
        <img
          src="./img/about_us/about-desktop-bg.png"
          srcset="
            ./img/about_us/about-desktop-bg.png    1x,
            ./img/about_us/about-desktop-bg@2x.png 2x
          "
          alt="About us"
          class="image"
        />
      </div>
    </div>
  </div>
</section>
