<div class="container">
  <div class="footer-wrapper">
    <div class="footer-contents">
      <div class="info">
        <a href="./index.html" class="footer-logo"
          ><span class="footer-logo-part">english</span>excellence<span
            class="footer-logo-part"
            >.</span
          ></a
        >
        <address class="address">
          <ul class="contacts-list">
            <li class="contacts-item">
              <p class="contacts-label">Phone number:</p>
              <a class="contacts-link" type="tel" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="contacts-item">
              <p class="contacts-label">Address:</p>
              <a
                class="contacts-link"
                target="_blank"
                href="https://maps.app.goo.gl/HnDFSFJJPiimm5YF8"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link" aria-label="Link to about section"
              >About us</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#ourLessons"
              class="nav-link"
              aria-label="Link to lessons section"
              >Our lessons</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#teachers"
              class="nav-link"
              aria-label="Link to teachers section"
              >Teachers</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#reviews"
              class="nav-link"
              aria-label="Link to reviews section"
              >Reviews</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#leaveApplication"
              class="nav-link"
              aria-label="Link to contacts section"
              >Contact us</a
            >
          </li>
        </ul>
      </div>
      <div class="socials">
        <ul class="socials-list">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="socials-link"
              rel="noopener noreferrer"
              target="_blank"
              aria-label="Link to englishexcellence. facebook page"
            >
              <svg width="26" height="26" class="socials-icon">
                <use href="./img/svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="socials-link"
              rel="noopener noreferrer"
              target="_blank"
              aria-label="Link to englishexcellence. instagram"
            >
              <svg width="26" height="26" class="socials-icon">
                <use href="./img/svg/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="socials-link"
              rel="noopener noreferrer"
              target="_blank"
              aria-label="Link to englishexcellence. youtube channel"
            >
              <svg width="26" height="26" class="socials-icon">
                <use href="./img/svg/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="privacy">
      <ul class="privacy-list">
        <li class="privacy-item">
          <p class="copyright">
            &copy;2023 English Excellence. All rights reserved.
          </p>
        </li>
        <li class="privacy-item">
          <a class="privacy-link" href="#privacy">Privacy Policy</a>
        </li>
        <li class="privacy-item">
          <a class="privacy-link" href="#terms-of-service">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</div>
