<div class="container">
  <div class="inner-container">
    <div class="menu-wrapper">
      <a class="logo" href="#" title="English Excellence">
        english<span>excellence</span>.
      </a>
      <button class="hamburger hamburger--collapse js-open-menu" type="button" aria-label="Open menu">
        <svg class="icon">
          <use href="./img/svg/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-container js-menu-container">
      <div class="mobile-menu-overlay"></div>
      <div class="mobile-menu">
        <button type="button" class="close js-close-menu" aria-label="Close menu">
          <svg class="icon" width="32" height="32">
            <use href="./img/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="navigation-menu">
          <li class="menu-item">
            <a class="menu-link" href="#aboutUs">About us</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#ourLessons">Our lessons</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#teachers">Teachers</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#reviews">Reviews</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#contactUs">Contact us</a>
          </li>
        </ul>
        <ul class="socials-menu">
          <li class="menu-item">
            <a class="menu-link" href="https://www.facebook.com/goITclub/">
              <svg class="menu-icon" width="28" height="28">
                <use href="./img/svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="https://www.instagram.com/goitclub/">
              <svg class="menu-icon" width="28" height="28">
                <use href="./img/svg/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="https://www.youtube.com/c/GoIT">
              <svg class="menu-icon" width="28" height="28">
                <use href="./img/svg/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
