<section class="section-hero">
  <div class="container">
    <div class="section-hero-content">
      <h1 class="title">
        Discover the joy of learning <span class="highlight">English</span> with
        us!
      </h1>
      <a class="button primary" href="#leave-application"
        >Leave an application</a
      >

      <a class="hero-anchor" href="#footer">
        <svg class="icon">
          <use href="../img/svg/icons.svg#icon-angle"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
