<section class="section leave-application" id="leave-application-section">
  <div class="container">
      <h2 class="section-title">Leave an <span class="section-title-highlighted">application</span></h2>
      <p class="section-description leave-application-section-description">
          Please use the form below to contact us. Enter your name, email, and
          message and we'll get back to you shortly.
      </p>
      <div class="leave-application-section-content">
          <div class="leave-application-section-info">
              <p class="leave-application-section-info-title">1000</p>
              <p class="leave-application-section-info-text">
                  of our online English language lessons! This journey has been full of
                  discovery, growth and unforgettable moments, and we are happy to share
                  this joyful event with you.
              </p>
          </div>
          <form class="leave-application-section-form" action="#" method="post">
              <input class="textfield-input" type="text" name="name" id="name" placeholder="Name" required />
              <input class="textfield-input" type="email" name="email" id="email" placeholder="Email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
              <input class="textfield-input" type="tel" name="phone" id="phone" placeholder="Phone" required />
              <textarea class="textfield-input last" name="comment" id="comment" rows="3" placeholder="Comment"
                  required></textarea>
              <p class="leave-application-section-form-title">Choose a teacher</p>
              <ul class="leave-application-section-choose-list">
                  <li class="leave-application-section-choose-list-item">
                      <div class="radio">
                          <input class="radio-native" type="radio" name="choose-teacher" value="Maria" id="Maria" />
                          <label class="radio-label" for="Maria">Maria</label>
                      </div>
                  </li>
                  <li class="leave-application-section-choose-list-item">
                      <div class="radio">
                          <input class="radio-native" type="radio" name="choose-teacher" value="Artem" id="Artem" />
                          <label class="radio-label" for="Artem">Artem</label>
                      </div>
                  </li>
                  <li class="leave-application-section-choose-list-item">
                      <div class="radio">
                          <input class="radio-native" type="radio" name="choose-teacher" value="Ilona" id="Ilona" />
                          <label class="radio-label" for="Ilona">Ilona</label>
                      </div>
                  </li>
                  <li class="leave-application-section-choose-list-item">
                      <div class="radio">
                          <input class="radio-native" type="radio" name="choose-teacher" value="Volodymyr"
                              id="Volodymyr" />
                          <label class="radio-label" for="Volodymyr">Volodymyr</label>
                      </div>
                  </li>
              </ul>
              <button class="button primary leave-application-section-button" type="submit">Send</button>
              <p class="leave-application-section-privacy-text">
                  By clicking on “Send” button, you agree to our
                  <a class="leave-application-section-privacy-link" href="#">Privacy Policy</a>, and allow Promodo to
                  use this information for marketing purposes.
              </p>
          </form>
      </div>
  </div>
</section>