<section class="review">
  <div class="container">
    <h2 class="section-title">
      What our <span class="section-title-highlighted">students say</span>
    </h2>
    <p class="first section-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="review-list">
      <li class="review-card">
        <div class="review-card-wrapper">
          <img
            srcset="
              ./img/reviews/review_1.webp    1x,
              ./img/reviews/review_1@2x.webp 2x
            "
            width="50"
            height="50"
            src="./img/reviews/review_1.webp"
            alt="Anna"
          />
          <div class="review-name">
            <h3 class="content-list-item-header">Anna</h3>
            <p class="content-list-item-text">Student</p>
          </div>
        </div>
        <div class="review-card-comment">
          <p class="review-card-comment-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </div>
      </li>
      <li class="review-card">
        <div class="review-card-wrapper">
          <img
            srcset="
              ./img/reviews/review_2.webp    1x,
              ./img/reviews/review_2@2x.webp 2x
            "
            width="50"
            height="50"
            src="./img/reviews/review_2.webp"
            alt="Mykhailo"
          />
          <div class="review-name">
            <h3 class="content-list-item-header">Mykhailo</h3>
            <p class="content-list-item-text">Student</p>
          </div>
        </div>
        <div class="review-card-comment">
          <p class="review-card-comment-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </div>
      </li>
      <li class="review-card">
        <div class="review-card-wrapper">
          <img
            srcset="
              ./img/reviews/review_3.webp    1x,
              ./img/reviews/review_3@2x.webp 2x
            "
            width="50"
            height="50"
            src="./img/reviews/review_3.webp"
            alt="Mykhailo"
          />
          <div class="review-name">
            <h3 class="content-list-item-header">Victoria</h3>
            <p class="content-list-item-text">Student</p>
          </div>
        </div>
        <div class="review-card-comment">
          <p class="review-card-comment-text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
