<section id="teachers" class="teachers">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="section-title-highlighted">teachers</span>
    </h2>
    <p class="first section-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teacher-list">
      <li class="card img">
        <img
          srcset="
            ./img/meet_our_teachers/teacher-maria.webp   1x,
            ./img/meet_our_teachers/teacher-maria2x.webp 2x
          "
          width="150"
          height="150"
          src="./img/meet_our_teachers/teacher-maria.webp"
          alt="Maria"
        />
        <div class="card-body">
          <h3 class="heading header-thrd">Maria</h3>
          <p class="teacher-description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="card img">
        <img
          srcset="
            ./img/meet_our_teachers/teacher-artem.webp   1x,
            ./img/meet_our_teachers/teacher-artem2x.webp 2x
          "
          width="150"
          height="150"
          src="./img/meet_our_teachers/teacher-artem.webp"
          alt="Artem"
        />
        <div class="card-body">
          <h3 class="heading header-thrd">Artem</h3>
          <p class="teacher-description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="card img">
        <img
          srcset="
            ./img/meet_our_teachers/teacher-ilona.webp   1x,
            ./img/meet_our_teachers/teacher-ilona2x.webp 2x
          "
          width="150"
          height="150"
          src="./img/meet_our_teachers/teacher-ilona.webp"
          alt="Ilona"
        />
        <div class="card-body">
          <h3 class="heading header-thrd">Ilona</h3>
          <p class="teacher-description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="card img">
        <img
          srcset="
            ./img/meet_our_teachers/teacher-volodymyr.webp   1x,
            ./img/meet_our_teachers/teacher-volodymyr2x.webp 2x
          "
          width="150"
          height="150"
          src="./img/meet_our_teachers/teacher-volodymyr.webp"
          alt="Volodymyr"
        />
        <div class="card-body">
          <h3 class="heading header-thrd">Volodymyr</h3>
          <p class="teacher-description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
