.about .section-description {
  font-size: 14px;
  line-height: calc(24 / 14);
}

.about .list {
  margin-bottom: 20px;
}

.about .item {
  background: var(--gray);
  padding: 32px;
  border-radius: 16px;
}

.about .item:not(:last-child) {
  margin-bottom: 20px;
}

.about .item-title {
  font-size: 28px;
  font-weight: 700;
  line-height: calc(32 / 28);
  letter-spacing: -0.02em;
  color: var(--green);
  margin-bottom: 16px;
}

.about .item-text {
  font-size: 20px;
  font-weight: 700;
  line-height: calc(24 / 20);
  letter-spacing: -0.02em;
}

.about .image-container {
  width: 100%;
  height: 313px;
  border-radius: 16px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about .image {
  width: 254px;
  height: 211px;
}

@media screen and (min-width: 768px) {
  .about .section-description {
    font-size: 18px;
    line-height: calc(30 / 18);
    max-width: 658px;
  }

  .about .list {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .about .item {
    width: calc((100% - 32px) / 2);
  }

  .about .item:not(:last-child) {
    margin-bottom: 0;
  }

  .about .image-container {
    height: 243px;
  }

  .about .image {
    width: 254px;
    height: 211px;
  }
}

@media screen and (min-width: 1280px) {
  .content-container {
    display: flex;
    gap: 32px;
  }

  .about .list {
    margin-bottom: 0;
    width: calc(100% - 310px - 32px);
  }

  .about .item {
    width: calc((100% - 32px) / 2);
  }

  .about .image-container {
    width: 310px;
    height: 352px;
  }
}
