/*body {
    display: grid;
    grid-template-columns: 1fr 0px;
    font-family: system-ui, sans-serif;
    background: #eee;
}*/

.top {
    --offset: 100px;

    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    width: 60px;
    aspect-ratio: 1;
    background: #bee8cc;
    border-radius: 10px;
    font-size: 0;
}

.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    text-align: justify;
}

body>div {
    margin-inline: max(3px, 50% - 800px/2);
}

html,
body {
    scroll-behavior: smooth;
}