
.leave-application-section-info-text { 
  color: rgba(18, 20, 23, 0.80);
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.section-title {
  color: var(--black);
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.64px;
  text-align: center;
  margin-bottom: 14px;
}
.section-title-highlighted {
  position: relative;
}

.section-title-highlighted::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}
.leave-application-section-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  
  .leave-application-section-info {
    display: none;
  }
  
  .leave-application-section-form-title {
    color: var(-font-color);
    font-size: 18px;
    line-height: 1.33333;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 14px;
  }

  .section-description {
    font-size: 14px;
    line-height: 1.71429;
    color: var(--black-50-transparent);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  
  .leave-application-section-choose-list {
    margin-bottom: 40px;
  }
  
  .leave-application-section-choose-list-item:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .leave-application-section-button {
    margin-bottom: 16px;
  }
  
  .leave-application-section-privacy-text {
    color: rgba(var(--font-color-light));
    font-size: 12px;
    line-height: 1.333;
  }
  
  .leave-application-section-privacy-link {
    text-decoration: underline;
  }
  
  @media only screen and (min-width: 768px) {
    .leave-application-section-form {
      max-width: 500px;
      margin: 0 auto;
    }
  
    .leave-application-section-content textarea.textfield-input {
      margin-bottom: 32px;
    }
  
    .leave-application-section-choose-list {
      display: flex;
      gap: 20px;
    }
  
    .leave-application-section-form-title {
      font-size: 20px;
      line-height: 1.2;
    }
  
    .leave-application-section-choose-list {
      margin-bottom: 24px;
    }
  
    .leave-application-section-choose-list-item {
      margin-bottom: 0;
    }
  
    .leave-application-section-privacy-text {
      font-size: 14px;
      line-height: 1.71429;
    }
  
    .leave-application-section-description {
      max-width: 586px;
    }
    .leave-application-section-form .textfield-input {
      font-size: 16px; 
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .leave-application-section-content {
      flex-direction: row;
      gap: 0;
    }
  
    .leave-application-section-form {
      margin: 0;
      max-width: auto;
      flex: 1;
      margin-left: 16px;
      margin-bottom: 18px;
    }
  
    .leave-application-section-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 492px;
      border-radius: 30px;
      background-color: var(--green);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      background-image: url('../img/leave_application/application.png');
      padding: 0 20px 40px;
      margin-right: 16px;
    }
  
    .leave-application-section-info-title {
      color: var(--white);
      text-align: center;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 700;
      letter-spacing: -0.8px;
    }
  
    .leave-application-section-info-text {
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
    }
  
    .leave-application-section-description {
      max-width: 708px;
    }
  }
  
  .textfield-input {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--black);
    background-color: transparent;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    margin-bottom: 18px;
    transition: border-color var(--transition-timing);
  }
  .textfield-input::placeholder {
    color: var(--black);
  }
  
  textarea.textfield-input {
    height: 94px;
    resize: none;
  }
  
  .textfield-input:focus {
    border-color: var(--green);
    outline: none;
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .leave-application-section-info {
    background-image: url('../img/leave_application/application@2x.webp');
  }
}