.prices-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-option {
    border: var(--green) solid 1px;
    border-radius: 16px;
    padding: 32px;
    max-width: 335px;
}

.price-option h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 16px;
}

.price-option .price {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 40px;
}

.price-option .offer {
    color: var(--font-color-light);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prices-container li:nth-child(2n) {
    background-color: var(--green);
    color: var(--white);
}

.prices-container li:nth-child(2n) .offer {
    color: var(--gray);
}

.price-option:hover {
    animation: jump-shaking 0.83s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--green);
    color: var(--white);
}

.price-option:hover .offer,
.price-option:active .offer {
    color: var(--gray);
}

.price-option:hover .button.primary {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.price-option:hover .button.primary:hover,
.price-option:hover .button.primary:focus {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--green);
}

@media (min-width: 768px) {
    .desc {
        max-width: 665px;
    }

    .price-option .offer {
        margin-bottom: 32px;
    }

    .price-option {
        max-width: 336px;
        flex-basis: calc((100% - 32px) / 2);
    }

    .prices-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        align-items: start;
    }
}

@media (min-width: 1280px) {
    .prices-container {
        max-width: 1024px;
    }

    .price-option {
        max-width: 320px;
        flex-basis: calc((100% - 64px) / 3);
    }

    .price-option .price {
        line-height: 44px;
    }

    .price-option .offer {
        font-size: 16px;
    }
}

@keyframes jump-shaking {
    0% { transform: translateX(0); }
    25% { transform: translateY(-9px); }
    35% { transform: translateY(-9px) rotate(6deg); }
    55% { transform: translateY(-9px) rotate(-6deg); }
    65% { transform: translateY(-9px) rotate(6deg); }
    75% { transform: translateY(-9px) rotate(-6deg); }
    100% { transform: translateY(0) rotate(0); }
}