.teacher-list {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.teacher-description{
  font-size: 16px;
  line-height: 1.66;
  text-align: center;
  color: var(--font-color-light);
}

@media (min-width: 768px) {
    .teacher-list {
        flex-direction: row;
        gap: 32px;
    }
}

.teacher-list li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    flex: 0 0 100%;
}

.card-body .header-thrd{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .teacher-list li {
        gap: 16px;
        flex: 0 0 calc(50% - 32px);
    }
}

@media (min-width: 1280px) {
    .teacher-list li {
        flex: 0 0 calc(25% - 64px);
    }
}



