:root {
  --black: #121417;
  --green: #4DC274;
  --green_dark: #38AE5F;
  --green_linear: linear-gradient(84.6deg, #4DC274 2.25%, #BEE8CC 131.25%);
  --light_green: #D4FDE1;
  --gray: #F3F5F6;
  --white: #FFFFFF;
  --font-color: #121417;
  --font-color-light: rgba(18, 20, 23, 0.5);
  --font-main: Manrope, Helvetica, Arial, sans-serif;
  --trns-slow: 600ms ease-out;
  --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
